url_http_origin_repo=""
url_http_target_repo=""


origin_repo_domain=""
origin_repo_username=""
origin_repo_token=""
origin_repo_name=""

target_repo_domain=""
target_repo_username=""
target_repo_token=""
target_repo_name=""


url_http_auth_origin_repo="http://$origin_repo_username:$origin_repo_token@$origin_repo_domain/$origin_repo_username/$origin_repo_name.git"
url_http_auth_target_repo="http://$target_repo_username:$target_repo_token@$target_repo_domain/$target_repo_username/$target_repo_name.git"

url_ssh_origin_repo="git@$origin_repo_domain:$origin_repo_username/$origin_repo_name.git"
url_ssh_target_repo="git@$target_repo_domain:$target_repo_username/$target_repo_name.git"


absolute_path_to_script=""
absolute_path_to_log=""
cron_job="* * * * *"

absolute_path_to_cloned_repo=""
